.App {
    --header_height: 60px;
}

.hw {
    padding: 0 70px 25px 70px;
    border-top: 1px solid rgb(217, 217, 217);
    border-bottom: 1px solid rgb(217, 217, 217);
    min-height: 336px;
}

.hwTitle {
    margin: 36px 0 10px 70px;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
}