.select {
    width: 165px;
    padding: 2px 10px 5px 0;
    box-sizing: border-box;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 2px;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.select:focus {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
    outline: none;
}


.option:hover {
}
