.burgerMenuIcon {
    cursor: pointer;
}

.header {
    padding: 15px 70px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 2px 0 rgba(29, 33, 38, 0.1), 0 0 40px 0 rgba(29, 33, 38, 0.13);
    background: rgb(255, 255, 255);
}

.header h1 {
}