.button {
    border-radius: 3px;
    min-width: 141px;
    padding: 5px 24px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
    transition: background-color 0.2s, width 0.2s;
    cursor: pointer;
}

.disabled {
    background-color: rgb(0, 77, 153);
    opacity: 0.5;
    color: rgb(0, 46, 92);
}

.secondary {
    border: 1px solid rgb(0, 102, 204);
    background-color: #FFFFFF;
    color: rgb(0, 102, 204);;
}

.default {
    background-color: rgb(0, 102, 204);
}

.red {
    background-color: rgb(204, 20, 57);
}

.default:hover {
    background-color: rgb(0, 128, 255);
    transition: background-color 0.2s, width 0.2s;
}

.red:hover {
    background-color: rgb(255, 26, 71);
    transition: 0.2s;
}

.secondary:hover {
    background-color: rgb(229, 240, 250);
    transition: 0.2s;
}


.default:active {
    background-color: rgb(0, 89, 179);
}

.secondary:active {
    background-color:  rgb(201, 229, 255);
}

.red:active {
    background-color: rgb(179, 18, 50);
}

.button:disabled {
    background: rgb(0, 102, 204);
    opacity: 0.4;
    color: rgb(255, 255, 255);
}
